.wrapper {
    width: 50%;
    height: 50%;
    margin: 0 auto;
    display: flex;
    border: 1px solid blue;
    flex-wrap: wrap;
}
.wrapper-img {
    width: 400%;
    border: 1px solid green;
    overflow: hidden;
}
.wrapper-content {
    width: 400%;
    display: flex;
}
.wrapper-text {
    width: 80%;
    overflow: hidden;
}
.wrapper-content-text {
    display: flex;
    width: 800%;
}
.text {
    width: 100%;
}
.wrapper-label {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.slide {
    height: 25vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}


.slide1 {
    background-image: url(image/img1.jpg);     
}
.slide2 {
    background-image: url(image/img2.jpg);
}
.slide3 {
    background-image: url(image/img3.jpg);    
}
.slide4 {
    background-image: url(image/img4.jpg);    
}

.dots {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: grey;
    cursor: pointer;
    border: 5px solid white;
    transition: background 1s;
}
.dots:hover {
    background-color: green;
}
input {
    display: none;
}

#slide-1:checked ~ .wrapper > .wrapper-img > .wrapper-content {
    transform: translate(0, 0); 
    transition: 3s;
}
#slide-2:checked ~ .wrapper > .wrapper-img > .wrapper-content {
    transform: translate(-25%, 0); 
    transition: 3s;
}
#slide-3:checked ~ .wrapper > .wrapper-img > .wrapper-content {
    transform: translate(-50%, 0); 
    transition: 3s;
}
#slide-4:checked ~ .wrapper > .wrapper-img > .wrapper-content {
    transform: translate(-75%, 0); 
    transition: 3s;
}


#slide-1:checked ~ .wrapper > .wrapper-text > .wrapper-content-text {
    transform: translate(0, 0); 
    transition: 3s;
}
#slide-2:checked ~ .wrapper > .wrapper-text > .wrapper-content-text {
    transform: translate(-25%, 0); 
    transition: 3s;
}
#slide-3:checked ~ .wrapper > .wrapper-text > .wrapper-content-text {
    transform: translate(-50%, 0); 
    transition: 3s;
}
#slide-4:checked ~ .wrapper > .wrapper-text > .wrapper-content-text {
    transform: translate(-75%, 0); 
    transition: 3s;
}


#slide-1:checked ~ .wrapper > .wrapper-label > .dot1 {
    background-color: red;
    transition: background-color 3s;
}
#slide-2:checked ~ .wrapper > .wrapper-label > .dot2 {
    background-color: red;
    transition: border 3s;
}
#slide-3:checked ~ .wrapper > .wrapper-label > .dot3 {
    background-color: red;
    transition: border 3s;
}
#slide-4:checked ~ .wrapper > .wrapper-label > .dot4 {
    background-color: red;
    transition: border 3s;
}

@media (max-width: 767px) {
    .wrapper {width: 90%;}
    .wrapper-text {width: 100%; order: 1;}
    .wrapper-label {width: 100%;}
    .wrapper-label {justify-content: center;}
}